@import "tailwindcss";
@import "@heroui/styles";
@plugin "daisyui";

body {
  box-sizing: border-box;
}
@keyframes fadeUp {
  from { opacity: 0; transform: translateY(28px); }
  to   { opacity: 1; transform: translateY(0); }
}